
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/90.0.4427.0.manifest
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/chrome.dll
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/chrome.exe
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/chrome_100_percent.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/chrome_200_percent.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/chrome_elf.dll
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/chrome_proxy.exe
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/chrome_pwa_launcher.exe
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/D3DCompiler_47.dll
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/elevation_service.exe
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/eventlog_provider.dll
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/First Run
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/icudtl.dat
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/interactive_ui_tests.exe
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/libEGL.dll
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/libGLESv2.dll
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/ar.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/bg.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/bn.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/ca.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/cs.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/da.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/de.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/el.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/en-GB.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/en-US.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/es-419.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/es.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/et.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/fi.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/fil.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/fr.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/gu.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/he.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/hi.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/hr.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/hu.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/id.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/it.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/ja.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/kn.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/ko.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/lt.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/lv.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/ml.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/mr.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/ms.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/nb.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/nl.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/pl.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/pt-BR.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/pt-PT.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/ro.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/ru.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/sk.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/sl.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/sr.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/sv.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/ta.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/te.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/th.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/tr.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/uk.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/vi.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/zh-CN.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/locales/zh-TW.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/MEIPreload/manifest.json
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/MEIPreload/preloaded_data.pb
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/mojo_core.dll
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/nacl_irt_x86_64.nexe
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/notification_helper.exe
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/resources.pak
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/swiftshader/libEGL.dll
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/swiftshader/libGLESv2.dll
servidor/node_modules/puppeteer/.local-chromium/win64-856583/chrome-win/v8_context_snapshot.bin
